/* Set a consistent button size */
button.calc-button {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    text-align: center;
}

/* Style for the input box */
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    text-align: right;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#heading{
    margin-right: 100px;
}
